<a href="https://colab.research.google.com/github/plumwiserim/Data-Analysis/blob/main/Class1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Review

## 1. Various operator

## 2. String

#### 문자열 인덱싱 (Indexing)

In [1]:
# 문자열은 배열 : 인덱스로 각 문자에 접근
txt = "python"
print(txt[0])
print(txt[2])
# print(txt[6])
# IndexError: string index out of range
print(txt[-1])

p
t
n

In [2]:
# 각 슬롯에 저장된 값을 재할당 불가 (immutable)
txt = "python"
# txt[0] = "j"
# TypeError: 'str' object does not support item assignment

#### 인덱스 연산자

In [ ]:
# 인덱스 연산자 [] : 문자열 내부의 문자 하나를 선택하는 연산자
message = "파이썬쉽다"

print("{}".format(message))
print(message[0])
print(message[1])
print(message[2])
print(message[3])
print(message[4])

파이썬쉽다
파
이
썬
쉽
다

#### 문자열 슬라이싱 (Slicing)

In [ ]:
# 문자열 슬라이싱 (Slicing)
txt = "python"
print(txt[0:2])
print(txt[1:4])
print(txt[-3:-1])
print(txt[:3])
print(txt[2:])

py
yth
ho
pyt
thon

#### 문자열 기본함수들(1/2)

In [ ]:
# 문자열의 길이 : len()
txt = "Hi, Kim!"
print(len(txt))

8

In [ ]:
# 문자열 교체 : replace()
txt = "Hi, Kim!"
print(txt.replace("Hi", "Hello"))

Hello, Kim!

In [ ]:
# 문자열 공백 없애기 : strip(), rstrip(), lstrip()
favorite_language = ' python '
print(favorite_language.rstrip())
print(favorite_language.lstrip())
print(favorite_language.strip())

 python
python
python

#### 문자열 기본함수들(2/2)

In [ ]:
# 문자열 나누기
message = "Python Easy"
messages = message.split(" ")
print(messages[0])
print(messages[1])
print(messages)

Python
Easy
['Python', 'Easy']

In [ ]:
# 문자열 합치기
fruits = ["apple", "banana", "mango"]
delimiter1 = " / "
delimiter2 = " || "
delimiter3 = " & "
print(delimiter1.join(fruits))
print(delimiter2.join(fruits))
print(delimiter3.join(fruits))

apple / banana / mango
apple || banana || mango
apple & banana & mango

#### 문자열 포맷

In [6]:
# f-string : 문자열 앞에 f를 붙임
name1 = "Tom"
score1 = 90
print(f"이름: {name1} 성적: {score1}")

이름: Tom 성적: 90

In [7]:
# repr() 을 f-string 에 사용
strText = "my_variable"
value = 2.1234

formatted = f'{strText} = {value}'
print(formatted)

my_variable = 2.1234

In [9]:
formatted = f'{strText!r:<20} = {value:.2f}'
print(formatted)

'my_variable'        = 2.12

In [11]:
# format()
print("My name is {}".format("William"))
print("I'm {} years old".format(28))
print("{} * {} = {}".format(3, 4, 3*4))
txt = "I have some {2}, {0}, and {1}"
print(txt.format("apples", "bananas", "oranges"))

My name is William
I'm 28 years old
3 * 4 = 12
I have some oranges, apples, and bananas

## 3. if statement

#### 조건문

In [ ]:
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  pass
else:
  print("a is greater than b")

In [ ]:
age = 27
if age < 8:
  fee = 5000
elif 8 <= age < 20:
  fee = 15000
elif 20 <= age < 60:
  fee = 20000
else:
  fee = 0
print(fee)

20000

## 4. List

#### tuple
- 빈 튜플 생성하여 empty_tuple에 할당
- 튜플이 비었는지 요소가 있는지 판단하여 비어있으면 “empty” 출력

In [ ]:
empty_tuple = ()
empty_tuple = tuple()
if empty_tuple:
  print("not empty")
else:
  print("empty")
if len(empty_tuple) == 0:
  print("empty")
else:
  print("not empty")

empty
empty

- 튜플에 요소 추가가 가능할까
?
  - 튜플이 불변한 타입이기 때문 
  - 요소를 수정, 삭제, 추가가 가능할때 가변하다고 함 (mutable)
  - 가변 시퀀스 타입인 list를 써야 함
- 불변 시퀀스 타입 : str, range, tuple 
- 가변 시퀀스 타입: list

#### List
- 특정한 순서로 연결되어 있는 데이터의 집합
- 숫자, 문자열, 리스트 등 다양한 종류의 데이터를 넣을 수 있음
- 대괄호 기호를 이용하여 생성 - [ ]
- 리스트에 요소 추가, 삭제 가능
- 대괄호 기호를 이용하여 생성하며 요소값은 쉼표로 구분

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

#### List 연산

#### List 슬라이싱

- 리스트 Slicing – 서브 리스트로 만듦
- start : end (: step) 형식

In [12]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']

- step 지정

In [ ]:
nums = [1, 0, 6, 5, 3, 4, 2, 3, 7]
print(nums[::2])
print(nums[::-1])

[1, 6, 3, 2, 7]
[7, 3, 2, 4, 3, 5, 6, 0, 1]

#### List 항목 수정

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
motorcycles[1:3] = ['hollydavison', 'bmw']
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'hollydavison', 'bmw']

#### Tuple 항목 추가

In [14]:
items = ("ruler","pen","eraser")
# items[3] = "scissors"
# TypeError: 'tuple' object does not support item assignment

#### List 항목 추가
- 항목 추가 : .append() 
  - 해당 리스트의 마지막에 인덱스를 추가하고 값 할당

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

- 항목 추가 : .insert() 
  - 지정한 인덱스에 값 추가

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

#### List 항목 제거
- 항목 제거 : del 
  - 지정한 인덱스에 해당 하는 값 제거

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

- 항목 제거 : .pop() 
  - 해당 리스트의 마지막 인덱스
값 추출 하여 반환

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

- 항목 제거 : .remove() 
  - 대상 리스트에서 지정한
값 제거

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

#### List 합치기
- 리스트 합치기 
  - +연산자

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles = motorcycles + ['hollydavison', 'bmw']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'hollydavison', 'bmw']

- 리스트 합치기 : extend()

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles.extend(['hollydavison', 'bmw'])
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'hollydavison', 'bmw']

#### List 정렬 
- 정렬 : .sort()

In [ ]:
cars = ['hyundai', 'bmw', 'audi', 'toyota']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'hyundai', 'toyota']
['toyota', 'hyundai', 'bmw', 'audi']

#### List 역순
- 순서 Reverse : .reverse() 
  - 리스트의 순서를 기존 인덱스 값 기준으로 역순 정렬

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'hyundai']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'hyundai']
['hyundai', 'toyota', 'audi', 'bmw']

#### List 통계함수

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

#### List 생성(변환)
- list() 함수로 다른 시퀀스타입을 list타입으로 변환 가능

In [18]:
a = range(3)
print(list(range(3)))
print(list(tuple('a', 'b')))
print(list("hello world"))

[0, 1, 2]

TypeError: ignored

#### List & 반복문

In [ ]:
# for…in : 순회가능한 객체의 index를 사용하여 반복
alphabets = ['a', 'b', 'c']
for alphabet in alphabets:
  print(alphabet)

a
b
c

In [19]:
# enumerate() : Index 출력도 필요할 시
fruits = ['lemon', 'kiwi', 'orange']
for i, fruit in enumerate(fruits):
  print(i, fruit)

0 lemon
1 kiwi
2 orange

#### while loop

In [ ]:
# While
i = 1
while i < 6:
  print( i )
  i += 1

1
2
3
4
5

In [ ]:
# break : 반복문을 빠져 나올 때 사용
i = 1
while i < 6:
  print( i )
  if i == 3:
    break
  i += 1

1
2
3

#### Loop 단계 건너뛰기
- continue: 반복문 다음으로 점프

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## 5. Shallow, Deep Copy

In [ ]:
# 얕은 복사

import copy

a = [1, [1, 2, 3]] #1
b = copy.copy(a) #2
print(a)
print(b)
print('\n')

b[0] = 10 #3
print(a)
print(b)
print('\n')

c = a
c[1].append(4) #4
print(a)
print(b)
print(c)

[1, [1, 2, 3]]
[1, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3]]


[1, [1, 2, 3, 4]]
[10, [1, 2, 3, 4]]
[1, [1, 2, 3, 4]]

In [ ]:
# 깊은 복사

import copy

a = [1, [1,2,3]] #1
b = copy.deepcopy(a) #2
print(a)
print(b)
print('\n')

b[0] = 10 #3
print(a)
print(b)
print('\n')

b[1].append(4) #4
print(a)
print(b)

[1, [1, 2, 3]]
[1, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3, 4]]

## 6. Dictionary

#### 딕셔너리
- Key/Value 형태의 자료구조
- Key 값으로 Value를 조회 가능
- 리스트와 혼합된 형태로 사용 가능
- { } 기호를 사용하여 생성

In [ ]:
alien = {'color': 'green', 'points': 5}
print(alien['color'])
print(alien['points'])

green
5

In [ ]:
# 딕셔너리 항목 추가
alien = {}
alien['color'] = 'green'
alien['points'] = 5
print(alien)
alien['x_position'] = 0
alien['y_position'] = 25
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [ ]:
# 딕셔너리 값 변경
alien = {'color': 'green'}
print("The alien is " + alien['color'] + ".")
alien['color'] = 'yellow'
print("The alien is now " + alien['color'] + ".")

The alien is green.
The alien is now yellow.

- 딕셔너리 항목 제거 : .pop() 
  - 해당 딕셔너리의 마지막 인덱스 값 추출 하여 반환

In [ ]:
alien = {'color': 'green', 'points': 5}
print(alien)
del alien['points']
print(alien)
c = alien.pop('color')
print(c)
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green'}
green
{}

- 딕셔너리 key/value 접근 : .keys(), .values() 
  - .keys() : key 값들을 dict_keys 객체로 반환 
  - .values() : value 값들을 dict_values 객체로 반환

In [ ]:
alien = {'color': 'green', 'points': 5}
alien_keys = list(alien.keys())
print(alien_keys)
alien_values = list(alien.values())
print(alien_values)

['color', 'points']
['green', 5]

In [ ]:
# 다중 딕셔너리
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

#### 딕셔너리와 루핑
- 딕셔너리 Looping
  - Python 3.6부터는 딕셔너리의 삽입 순서를 보존하도록 동작이 개선됨

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

  - in의 인자 딕셔너리의 key 정보 출력

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

  - looping 되는 key 값을 이용하여 value 정보 출겨

In [ ]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

  - .values() 함수를 이용하여 전달받은 dict_values 객체를 이용하여 value 정보 출력

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

  - .items() 함수를 이용하여 전달받은 dict_itemss 객체를 이용하여 key, value 정보를 출
력

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

#### 딕셔너리와 함수
 - **kwargs로 모든 인자를 얻는 경우(내부에서 딕셔너리로 취급)

In [ ]:
def my_func(**kwargs) :
  for key, value in kwargs.items():
    print(f'{key} = {value}')

my_func(name = "홍길동", grade = "A")

name = 홍길동
grade = A

#### 딕셔너리와 keyError
- Key를 이용한 접근 시, KeyError를 방어

In [ ]:
counters = {
    '홍길동' : 3,
    '김서방' : 2,
}

key = '이신성'

if key in counters : 
  count = counters[key]
else : 
  count = 0

counters[key] = count + 1

print(counters)

{'홍길동': 3, '김서방': 2, '이신성': 1}

In [22]:
# Key 가 존재하지 않는 경우, 심각한 에러 발생
key = '코드프레소'
count = counters[key]
KeyError: '코드프레소'
print(count)

NameError: ignored

In [ ]:
# 방법 1. 방어적인 Style
try : 
  count = counters[key]
except KeyError :
  count = 0

print(count)

0

In [ ]:
# 방법 2. 방어적인 Style
key = '코드프레소'
count = counters.get(key, 0)
counters[key] = count + 1
print(counters)

{'홍길동': 3, '김서방': 2, '이신성': 1, '코드프레소': 2}

#### 문제 : 딕셔너리
- 아래는 어떤 반의 국어, 수학 점수이다. 과목별 평균을 구하여라

In [ ]:
reports = {"tom": {"kor": 60, "math": 100},
           "suzy": {"kor": 70, "math": 90},
           "lina": {"kor": 80, "math": 75},
           "alice": {"kor": 90, "math": 85},
           }