<a href="https://colab.research.google.com/github/plumwiserim/Data-Analysis/blob/main/Class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas 시작하기

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

1.1.5

## 자료구조 Series

### Series 의 생성(1)

In [4]:
# 리스트 데이터로 Series 객체 생성하기

year = ['2019', '2020', '2021', '2022']
result = pd.Series(data=year)

print('\nType:', type(result))
print(result)

Type: <class 'pandas.core.series.Series'>
0    2019
1    2020
2    2021
3    2022
dtype: object

In [5]:
# Series 객체의 주요 속성
print('Index: ', result.index )
print('Data: ', result.values )
print('DType: ', result.dtype )
print('Shape: ', result.shape )

Index:  RangeIndex(start=0, stop=4, step=1)
Data:  ['2019' '2020' '2021' '2022']
DType:  object
Shape:  (4,)

In [7]:
# Series 객체의 이름 지정
result.name = 'Year'
result.index.name = 'No.'
print(result)

No.
0    2019
1    2020
2    2021
3    2022
Name: Year, dtype: object

### Series 의 생성(2)

In [8]:
# 인덱스 추가하여 Series 객체 생성하기
year = ['2019', '2020', '2021', '2022']
idx = ['a', 'b', 'c', 'd']

result = pd.Series(data=year, index=idx, name='Year')
print(result)

a    2019
b    2020
c    2021
d    2022
Name: Year, dtype: object

### Series 의 생성(3)

In [9]:
# 딕셔너리 데이터로 Series 객체 생성하기
score = {'Kim':85, 'Han':89, 'Lee':99, 'Choi':70}

result = pd.Series(data=score, name='Score')
print(result)

Kim     85
Han     89
Lee     99
Choi    70
Name: Score, dtype: int64

## 자료구조 DataFrame

### DataFrame 의 생성(1)

In [ ]:
# 파이썬 딕셔너리 객체 이용하여 DataFrame 생성하기
score = {'name': ['Jessi', 'Emma', 'Alex', 'Tom'],
         'score': [100, 95, 80, 85],
         'grade': ['A', 'A', 'B', 'B']}
        
df = pd.DataFrame(data=score)
print(type(df))
print(df)

In [ ]:
# DataFrame 주요 속성 실습-1
print('-Index: ', df.index)
print('-Columns: ', df.columns)
print('-Values:', df.values)

In [ ]:
# DataFrame 주요 속성 실습-2
print('-DTypes: ', df.dtypes)
print('-Shape: ', df.shape)

### DataFrame 의 생성(2)

In [10]:
# index, columns 지정하여 DataFrame 생성하기
score = {'name': ['Jessi', 'Emma', 'Alex', 'Tom'],
         'score': [100, 95, 80, 85],
         'grade': ['A', 'A', 'B', 'B']}     
i = ['a', 'b', 'c', 'd']
c = ['score', 'grade', 'name', 'email']
        
df = pd.DataFrame(data=score, index=i, columns=c)
print(df)

   score grade   name email
a    100     A  Jessi   NaN
b     95     A   Emma   NaN
c     80     B   Alex   NaN
d     85     B    Tom   NaN

## DataFrame 살펴보기

* 실습 데이터 생성

In [11]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)

    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java

* info(), head(), tail(), sample() 실습

In [12]:
print('\n<Summary of DataFrame>')
print(score_df.info())

<Summary of DataFrame>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   score    5 non-null      int64
 2   grade    5 non-null      object
 3   subject  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

In [13]:
print('\n<Return the first n rows>')
print(score_df.head(3))

<Return the first n rows>
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python

In [14]:
print('\n<Return the last n rows>')
print(score_df.tail(2))

<Return the last n rows>
    name  score grade subject
3  Jessi     85     B       c
4    Tom     97     A    java

In [15]:
print('\n<Return a random sample>')
print(score_df.sample())

<Return a random sample>
  name  score grade subject
4  Tom     97     A    java

## 수치형과 범주형 데이터의 이해

* 실습 데이터 생성

In [16]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'age': [20, 24, 23, 20, 27],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)

    name  age  score grade subject
0  Jessi   20    100     A  python
1   Emma   24     95     A    java
2   Alex   23     80     B  python
3  Jessi   20     85     B       c
4    Tom   27     97     A    java

In [17]:
# describe() 함수 실습
print("Generate Descriptive Statistics")
print(score_df.describe())

Generate Descriptive Statistics
             age       score
count   5.000000    5.000000
mean   22.800000   91.400000
std     2.949576    8.502941
min    20.000000   80.000000
25%    20.000000   85.000000
50%    23.000000   95.000000
75%    24.000000   97.000000
max    27.000000  100.000000

In [18]:
# 범주형 데이터에 대한 describe() 함수 실습

print("Generate Descriptive Statistics for Categorical")
print(score_df[['grade', 'subject']].describe())

Generate Descriptive Statistics for Categorical
       grade subject
count      5       5
unique     2       3
top        A  python
freq       3       2

In [20]:
# 범주형 데이터를 위한 unique() 함수 실습
print("The Unique Values")
print(score_df['subject'].unique())

The Unique Values
['python' 'java' 'c']

In [21]:
# 범주형 데이터를 위한 value_counts() 함수 실습
print("The Value Counts")
print(score_df['subject'].value_counts())

The Value Counts
python    2
java      2
c         1
Name: subject, dtype: int64

## 데이터 조회 및 변경

* 실습 데이터 생성

In [22]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']

df = pd.DataFrame(data=score, columns=c)
print(df)

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN

In [23]:
# 인덱싱 기법으로 열 데이터 조회 실습
print('Columns : name')
print(df['name'])

Columns : name
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object

In [24]:
# . 연산자로 열 데이터 조회 실습
print('Columns : name')
print(df.name)

Columns : name
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object

In [ ]:
# df.name 의 타입 출력하여 확인
print('Type:', type(df.name))

In [25]:
# 다중 열 데이터 조회 실습
print('Columns : name-subject-grade')
print(df[['name', 'subject', 'grade']])

Columns : name-subject-grade
    name subject grade
0  Jessi  python     A
1   Emma    java     A
2   Alex  python     B
3  Jessi       c     B
4    Tom    java     A

In [ ]:
# etc 열 데이터 변경하기
print('Modify Column Data')
_____________________
df

In [26]:
# loc 이용하여 행 데이터 조회 실습
print('Rows-1')
print(df.loc[1])

Rows-1
name       Emma
subject    java
score        95
grade         A
etc         NaN
Name: 1, dtype: object

In [27]:
# loc 이용하여 다중 행 데이터 조회 실습
print('Rows-0,2,4')
df.loc[[0,2,4]]

Rows-0,2,4

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
2   Alex  python     80     B  NaN
4    Tom    java     97     A  NaN

In [28]:
# 특정 행 데이터 변경 실습
print('Modify Rows0')
df.loc[0] = ['Jessi', 'java', 70, 'C', 1]
print(df)

Modify Rows0
    name subject  score grade  etc
0  Jessi    java     70     C    1
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN

In [29]:
# 행과 열의 조건을 동시에 지정하여 조회 실습
row_idx = [1,2,4]
col_idx = ['name', 'subject', 'grade']

print('Rows & Columns')
print(df.loc[row_idx, col_idx])

Rows & Columns
   name subject grade
1  Emma    java     A
2  Alex  python     B
4   Tom    java     A

## 데이터 추가, 삭제

* 실습 데이터 생성

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']

df = pd.DataFrame(data=score, columns=c)
print(df)

In [ ]:
# Series 객체 생성하여 'semester' 라는 열 추가
semester_data = pd.Series(['20-01', '20-01', '20-02', '20-01'])
_________________ = semester_data

print('Add Columns : semester')
df

In [ ]:
# 연산 이용하여 'high_score' 라는 열 추가
____________ = ____________

print('Add Columns : high_score')
df

In [ ]:
# 6 번 인덱스에 행 데이터 추가
_________ = ['Jina', 'python', 100, 'A', 1, '20-02', True]

print('Add Row 6')
df

In [ ]:
# 1) drop() 이용하여 행 데이터 삭제
# 2) inplace 인자를 사용하여 원본 데이터에 바로 삭제
__________________________

print('Delete Row : 6')
df

In [ ]:
# drop() 이용하여 'etc' 열 삭제 (원본데이터변경)
_________________________

print('Delete Column :')
df

## 데이터 파일 읽기

In [ ]:
filepath = '______________________'

titanic_df = ____________________
type(titanic_df)

In [ ]:
# info() 확인해보기
print('Summary of DataFrame')
____________________

In [ ]:
# sample 데이터 출력해보기
print('Return the first n rows')
____________________

In [ ]:
# 엑셀 파일에서 데이터 읽기
filepath2 = _____________________
print('Read students_score.xlsx')
sample_df = ________________________
sample_df

In [ ]:
# 1) header=none 옵션으로 컬럼 없이 데이터 읽기
# 2) df.columns 에 새로운 컬럼명 저장하기
sample_df = ____________________________
____________________ = ['name', 'age', 'score', 'grade', 'subject']

print('Read Excel by header=none')
sample_df

In [ ]:
# 'students' sheet 에 있는 데이터 읽기
print('Read Excel on students sheet')
student_df = ____________________________
student_df

## 데이터 전처리(1)

* 샘플데이터 생성

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None

# 실습 데이터 출력
print(df)

   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [ ]:
# df.info() 함수로 결측치 유무 확인하기
print('#1 Summary of DataFrame')
___________________

In [ ]:
# df.isnull() 함수로 결측치 유무 확인하기
print('#2 isnull of DataFrame')
___________________

In [ ]:
print('#4 Sum of all missing values per columns')
df.isnull().sum()

In [ ]:
print('#5 Sum of all missing values per rows')
___________________

## 데이터 전처리(2)

In [ ]:
# 행을 기준으로 결측치 조회하여 제거하기
print('#1 Remove missing values')
_________________________

In [ ]:
# 원본데이터에 반영
print('#2 Remove missing values with inpalce=True')
_________________________
_________________________

In [ ]:
# 열을 기준으로 결측치 조회하여 제거하기
print('#3 Remove missing values in columns')
_________________________

In [ ]:
# 실습 데이터 추가
df.iloc[:2, 0] = np.nan
df.iloc[:4, 1] = np.nan
print(df)

In [ ]:
# 결측값을 0 으로 대체하기
print('#4 Replace missing values')
_________________________

In [ ]:
# 딕셔너리를 활용한 컬럼별 대체값 지정하기
print('#5 Replace missing values')
replace_set = {'col2':0, 'col4':'100'}
_________________________

In [ ]:
print('#6 Replace missing values')
replace_set = {'col1':df['col1'].mean()}
_________________________