<a href="https://colab.research.google.com/github/plumwiserim/data-analysis/blob/main/TestCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 대제목

## 소제목

- 아이템1
- 아이템2
  - 아이템2-1

In [ ]:
print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")
# print("Hello World!!!")

Hello World!!!

In [ ]:
file path = 
open()

In [ ]:
a = 1
b = 1
c = 1+1
print(c)

2

In [ ]:
a = "9"
b = 7
print(a+ b)

TypeError: ignored

In [ ]:
a = (int) a
print(a+b)

SyntaxError: ignored

In [ ]:
a = "abc"
a = int(a)

ValueError: ignored

In [ ]:
a = 1 
b = 0
print(a<b)

False

In [ ]:
a = False
b = True
print(a+b)

1

In [ ]:
txt = "python"
print(txt)

python

In [ ]:
txt = "al"
print(txt)

al

### String

#### 문자열 인덱싱 (Indexing)

In [ ]:
# 문자열은 배열 : 인덱스로 각 문자에 접근
txt = "python"
print(txt[0])
print(txt[2])
print(txt[6])
print(txt[-1])

p
t

IndexError: ignored

In [ ]:
# 각 슬롯에 저장된 값을 재할당 불가 (immutable)
txt = "python"
txt[0] = "j"

TypeError: ignored

#### 인덱스 연산자

In [ ]:
# 인덱스 연산자 [] : 문자열 내부의 문자 하나를 선택하는 연산자
message = "파이썬쉽다"

print("{}".format(message))
print(message[0])
print(message[1])
print(message[2])
print(message[3])
print(message[4])

파이썬쉽다
파
이
썬
쉽
다

#### 문자열 슬라이싱 (Slicing)

In [ ]:
# 문자열 슬라이싱 (Slicing)
txt = "python"
print(txt[0:2])
print(txt[1:4])
print(txt[-3:-1])
print(txt[:3])
print(txt[2:])

py
yth
ho
pyt
thon

#### 문자열 기본함수들(1/2)

In [ ]:
# 문자열의 길이 : len()
txt = "Hi, Kim!"
print(len(txt))

8

In [ ]:
# 문자열 교체 : replace()
txt = "Hi, Kim!"
print(txt.replace("Hi", "Hello"))

Hello, Kim!

In [ ]:
# 문자열 공백 없애기 : strip(), rstrip(), lstrip()
favorite_language = ' python '
print(favorite_language.rstrip())
print(favorite_language.lstrip())
print(favorite_language.strip())

 python
python
python

#### 문자열 기본함수들(2/2)

In [ ]:
# 문자열 나누기
message = "Python Easy"
messages = message.split(" ")
print(messages[0])
print(messages[1])
print(messages)

Python
Easy
['Python', 'Easy']

In [ ]:
# 문자열 합치기
fruits = ["apple", "banana", "mango"]
delimiter1 = " / "
delimiter2 = " || "
delimiter3 = " & "
print(delimiter1.join(fruits))
print(delimiter2.join(fruits))
print(delimiter3.join(fruits))

apple / banana / mango
apple || banana || mango
apple & banana & mango

#### 문자열 포맷
- 포맷
  - f-string : 문자열 앞에 f를 붙임
  - Python3.6부터 지원

In [ ]:
name1 = "Tom"
score1 = 90
print(f"이름: {name1} 성적: {score1}")

이름: Tom 성적: 90

### if statement

#### 조건문
- 조건문의 패턴
  - if
  - if-elif
  - if-elif-else
  - if-else

In [ ]:
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  pass
else:
  print("a is greater than b")

- 일반적인 언어와 조건문 작성에서의 차별점
- 문제 :
  - 나이에 따라 다른 이용료가 출력되는 기능을 구현한다.
    - 8세 미만 : 이용료는 5,000원
    - 8세 이상 ~ 20세 미만 : 이용료는 15,000원
    - 20세 이상 ~ 60세 미만 : 이용료는 20,000원
    - 60세 이상 : 이용료 없음

In [ ]:
age = 27
if age < 8:
  fee = 5000
elif 8 <= age < 20:
  fee = 15000
elif 20 <= age < 60:
  fee = 20000
else:
  fee = 0
print(fee)

20000

### List

#### tuple
- 빈 튜플 생성하여 empty_tuple에 할당
- 튜플이 비었는지 요소가 있는지 판단하여 비어있으면 “empty” 출력

In [ ]:
empty_tuple = ()
empty_tuple = tuple()
if empty_tuple:
  print("not empty")
else:
  print("empty")
if len(empty_tuple) == 0:
  print("empty")
else:
  print("not empty")

empty
empty

- 튜플에 요소 추가가 가능할까
?
  - 튜플이 불변한 타입이기 때문 
  - 요소를 수정, 삭제, 추가가 가능할때 가변하다고 함 (mutable)
  - 가변 시퀀스 타입인 list를 써야 함
- 불변 시퀀스 타입 : str, range, tuple 
- 가변 시퀀스 타입: list

#### List
- 특정한 순서로 연결되어 있는 데이터의 집합
- 숫자, 문자열, 리스트 등 다양한 종류의 데이터를 넣을 수 있음
- 대괄호 기호를 이용하여 생성 - [ ]
- 리스트에 요소 추가, 삭제 가능
- 대괄호 기호를 이용하여 생성하며 요소값은 쉼표로 구분

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

#### List 연산

#### List 슬라이싱

- 리스트 Slicing – 서브 리스트로 만듦
- start : end (: step) 형식

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli’]
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])

SyntaxError: ignored

- step 지정

In [ ]:
nums = [1, 0, 6, 5, 3, 4, 2, 3, 7]
print(nums[::2])
print(nums[::-1])

[1, 6, 3, 2, 7]
[7, 3, 2, 4, 3, 5, 6, 0, 1]

#### List 항목 수정

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
motorcycles[1:3] = ['hollydavison', 'bmw']
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'hollydavison', 'bmw']

#### List vs Tuple

In [ ]:
items = ("ruler","pen","eraser")
items[3] = "scissors"

TypeError: ignored

#### List 항목 추가
- 항목 추가 : .append() 
  - 해당 리스트의 마지막에 인덱스를 추가하고 값 할당

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

- 항목 추가 : insert() 
  - 지정한 인덱스에 값 추가

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati’)
print(motorcycles)

SyntaxError: ignored

#### List 항목 제거
- 항목 제거 : del 
  - 지정한 인덱스에 해당 하는 값 제거

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

- 항목 제거 : .pop() 
  - 해당 리스트의 마지막 인덱스
값 추출 하여 반환

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

- 항목 제거 : .remove() 
  - 대상 리스트에서 지정한
값 제거

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

#### List 합치기
- 리스트 합치기 
  - + 연산자

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles = motorcycles + ['hollydavison', 'bmw']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'hollydavison', 'bmw']

- 리스트 합치기 : extend()

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles.extend(['hollydavison', 'bmw'])
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati', 'hollydavison', 'bmw']

#### List 정렬 
- 정렬 : .sort()

In [ ]:
cars = ['hyundai', 'bmw', 'audi', 'toyota']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'hyundai', 'toyota']
['toyota', 'hyundai', 'bmw', 'audi']

#### List 역순
- 순서 Reverse : .reverse() 
  - 리스트의 순서를 기존 인덱스 값 기준으로 역순 정렬

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'hyundai']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'hyundai']
['hyundai', 'toyota', 'audi', 'bmw']

#### List 통계함수

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

#### List 생성(변환)
- list() 함수로 다른 시퀀스타입을 list타입으로 변환 가능

In [ ]:
a = range(3)
print(list(range(3)))
print(list(tuple(“a”, “b”)))
print(list(“hello world”))

SyntaxError: ignored

#### List & 반복문

In [ ]:
# for…in : 순회가능한 객체의 index를 사용하여 반복
alphabets = ['a', 'b', 'c']
for alphabet in alphabets:
  print(alphabet)

a
b
c

In [ ]:
# enumerate() : Index 출력도 필요할 시
fruits = [‘lemon', ‘kiwi', ‘orange']
for i, fruit in enumerate(fruits):
  print(i, fruit)

SyntaxError: ignored

#### while loop

In [ ]:
# While
i = 1
while i < 6:
  print( i )
  i += 1

1
2
3
4
5

In [ ]:
# break : 반복문을 빠져 나올 때 사용
i = 1
while i < 6:
  print( i )
  if i == 3:
    break
  i += 1

1
2
3

#### Loop 단계 건너뛰기
- continue: 반복문 다음으로 점프

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### Shallow, Deep Copy

In [ ]:
# 얕은 복사

import copy

a = [1, [1, 2, 3]] #1
b = copy.copy(a) #2
print(a)
print(b)
print('\n')

b[0] = 10 #3
print(a)
print(b)
print('\n')

c = a
c[1].append(4) #4
print(a)
print(b)
print(c)

[1, [1, 2, 3]]
[1, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3]]


[1, [1, 2, 3, 4]]
[10, [1, 2, 3, 4]]
[1, [1, 2, 3, 4]]

In [ ]:
# 깊은 복사

import copy

a = [1, [1,2,3]] #1
b = copy.deepcopy(a) #2
print(a)
print(b)
print('\n')

b[0] = 10 #3
print(a)
print(b)
print('\n')

b[1].append(4) #4
print(a)
print(b)

[1, [1, 2, 3]]
[1, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3]]


[1, [1, 2, 3]]
[10, [1, 2, 3, 4]]

### Dictionary

#### 딕셔너리
- Key/Value 형태의 자료구조
- Key 값으로 Value를 조회 가능
- 리스트와 혼합된 형태로 사용 가능
- { } 기호를 사용하여 생성

In [ ]:
alien = {'color': 'green', 'points': 5}
print(alien['color'])
print(alien['points'])

green
5

In [ ]:
# 딕셔너리 항목 추가
alien = {}
alien['color'] = 'green'
alien['points'] = 5
print(alien)
alien['x_position'] = 0
alien['y_position'] = 25
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [ ]:
# 딕셔너리 값 변경
alien = {'color': 'green'}
print("The alien is " + alien['color'] + ".")
alien['color'] = 'yellow'
print("The alien is now " + alien['color'] + ".")

The alien is green.
The alien is now yellow.

- 딕셔너리 항목 제거 : .pop() 
  - 해당 딕셔너리의 마지막 인덱스 값 추출 하여 반환

In [ ]:
alien = {'color': 'green', 'points': 5}
print(alien)
del alien['points']
print(alien)
c = alien.pop('color')
print(c)
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green'}
green
{}

- 딕셔너리 key/value 접근 : .keys(), .values() 
  - .keys() : key 값들을 dict_keys 객체로 반환 
  - .values() : value 값들을 dict_values 객체로 반환

In [ ]:
alien = {'color': 'green', 'points': 5}
alien_keys = list(alien.keys())
print(alien_keys)
alien_values = list(alien.values())
print(alien_values)

['color', 'points']
['green', 5]

In [ ]:
# 다중 딕셔너리
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

#### 딕셔너리와 루핑
- 딕셔너리 Looping
  - Python 3.6부터는 딕셔너리의 삽입 순서를 보존하도록 동작이 개선됨

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

  - in의 인자 딕셔너리의 key 정보 출력

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

  - looping 되는 key 값을 이용하여 value 정보 출겨

In [ ]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

  - .values() 함수를 이용하여 전달받은 dict_values 객체를 이용하여 value 정보 출력

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

  - .items() 함수를 이용하여 전달받은 dict_itemss 객체를 이용하여 key, value 정보를 출
력

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

#### 딕셔너리와 함수
 - **kwargs로 모든 인자를 얻는 경우(내부에서 딕셔너리로 취급)

In [ ]:
def my_func(**kwargs) :
  for key, value in kwargs.items():
    print(f'{key} = {value}')

my_func(name = "홍길동", grade = "A")

name = 홍길동
grade = A

#### 딕셔너리와 keyError
- Key를 이용한 접근 시, KeyError를 방어

In [ ]:
counters = {
    '홍길동' : 3,
    '김서방' : 2,
}

key = '이신성'

if key in counters : 
  count = counters[key]
else : 
  count = 0

counters[key] = count + 1

print(counters)

{'홍길동': 3, '김서방': 2, '이신성': 1}

In [ ]:
# Key 가 존재하지 않는 경우, 심각한 에러 발생
key = '코드프레소'
count = counters[key]
print(count)

KeyError: ignored

In [ ]:
# 방법 1. 방어적인 Style
try : 
  count = counters[key]
except KeyError :
  count = 0

print(count)

0

In [ ]:
# 방법 2. 방어적인 Style
key = '코드프레소'
count = counters.get(key, 0)
counters[key] = count + 1
print(counters)

{'홍길동': 3, '김서방': 2, '이신성': 1, '코드프레소': 2}

#### 문제 : 딕셔너리
- 아래는 어떤 반의 국어, 수학 점수이다. 과목별 평균을 구하여라

In [ ]:
reports = {"tom": {"kor": 60, "math": 100},
           "suzy": {"kor": 70, "math": 90},
           "lina": {"kor": 80, "math": 75},
           "alice": {"kor": 90, "math": 85},
           }

### Set, Enum Type

#### Enum Type
- 파이썬은 버전 3.4부터 다른 언어들처럼 enum(enumeration, 이넘) 타입을 지원
- enum은 일반적으로 서로 관련이 있는 여러 개의 상수의 집합을 정의할 때 사용됨
- enum 클래스를 사용하면 인스턴스의 종류를 제한할 수 있기 때문에 견고한 프로그램을 작성할 수 있음

#### Enum Type

In [ ]:
# 예시 : Enum class 를 확장하여 MyMajor Type 을 만들어 보자

class MyMajor():
  Ai = 1
  Math = 2
  Eng = 3

In [ ]:
# 예시1 활용 : MyMajoy Type 의 Name 과 Value 에 접근해 보자
MyMajor.Ai

1

In [ ]:
MyMajor.Ai.name

AttributeError: ignored

In [ ]:
Mymajor.Ai.value

NameError: ignored

In [ ]:
# 예시2 활용

for i in MyMajor :
  print(i, end = ', ')

print('\n')

for i in MyMajor : 
  print(i.name, end=', ')

print('\n')

for i in MyMajor : 
  print(i.value, end = ', ')

TypeError: ignored

#### 셋(set)
- 딕셔너리처럼 { } 기호를 사용
- set()
- 단독으로 {} 선언시 딕셔너리로 판단
- {} 이용하여 생성시 반드시 요소값이 있어야 함
- add(), discard() 사용하여 컨트롤

In [ ]:
s = set()
s.add(10)
s.add(13)
s.add(15)

In [ ]:
s

{10, 13, 15}

In [ ]:
s.discard(13)

In [ ]:
s

{10, 15}

In [ ]:
# 예시 활용 - set type은 중복을 허용하지 않는다. 
s.add(13)
s.add(15)
s.add(15)

In [ ]:
s

{10, 13, 15}

In [ ]:
# 예시 활용
x = set()
x.add(1)
x.add(3)
x.add(5)
x.add(13)

In [ ]:
x

{1, 3, 5, 13}

In [ ]:
x.intersection(s)

{13}

In [ ]:
x.union(s)

{1, 3, 5, 10, 13, 15}

In [ ]:
x.difference(s)

{1, 3, 5}

In [ ]:
x.union(s) - x

{10, 15}

#### C가 메모리를 사용하는 방법
- 정수 데이터 타입의 변수 a를 선언
- assign (=) 연산으로 데이터를 저장 (정수만 저장 가능)

#### 파이썬이 메모리를 사용하는 방법
- a = 100

#### 리스트와 메모리
- life = [['Canada', 76.5],['United States', 75.5],['Mexico', 72.0]]

### Function

#### 함수(function)
- 함수란?

In [ ]:
def polynomial(a, b, c, x) :
  first = a * x * x
  second = b + x
  third = c
  return first + second + third

In [ ]:
polynomial(2, 3, 4, 1.5)

13.0

In [ ]:
polynomial(2, 3, 4, 2)

17

In [ ]:
first

NameError: ignored

- 인수와 매개변수
  - 인수와 함수를 호출하면 인수의 값이 함수 내에서
  - 해당하는 매개변수에 복사됨

In [ ]:
def greet_user(username) :
  print("Hello, " + username.title() + "!")

greet_user('jesse')

Hello, Jesse!

- 함수 파라미터 누락 시, Type Error 발생

In [ ]:
def user_description(age, name) :
  return f'{name}은 {age}살 입니다'
print(user_description(10))

TypeError: ignored

- Parameters 에 매빙되는 arguments를 정의함으로써, 함수 prototype 과 다른 순서로 지정 가능

In [ ]:
def menu(morning, afternoon, dinner) : 
  print(f'아침은 {morning}\n, 점심은 {afternoon}\n, 저녁은 {dinner}\n')

menu(morning = 'pancake', afternoon = 'noodle', dinner = 'rice')
menu(morning = 'pancake', dinner = 'rice', afternoon = 'noodle')

아침은 pancake
, 점심은 noodle
, 저녁은 rice

아침은 pancake
, 점심은 noodle
, 저녁은 rice

- Default paramter

In [ ]:
def menu(morning, afternoon, dinner='rice'):
  print(f'아침은 {morning}\n, 점심은 {afternoon}\n, 저녁은 {dinner}\n')
menu('rice', 'cake')

아침은 rice
, 점심은 cake
, 저녁은 rice

- 가변 파라미터
  - arguments : tuple <-- 아래에서 보면 "홍길동", "40" 정보를 packing 한다. 
  - keywords : dict <-- 아래에서 보면 addr = ~ grad = "good" 정보를 packing 한다.

In [ ]:
def get_userinfo(user_type, *arguments, **keywords):

  print("user type : {}".format("admin" if (int(user_type) == 1) else "normal"))

  for arg in arguments :
    print(arg)
  
  print("-"*40)

  for kw in keywords : 
    print(kw, ":", keywords[kw])
  
get_userinfo("1","홍길동", "40",
             addr = "경기도",
             cp = "010-xxxx-xxxx", grade = "good")

user type : admin
홍길동
40
----------------------------------------
addr : 경기도
cp : 010-xxxx-xxxx
grade : good

#### 패키지, 모듈 & 함수
- 함수<모듈<패키지
- 반복하여 사용하는 코드를 어떤 값(들)을 입력하면 특정된 작업을 수행하고 그 결과
값을 출력으로 반환하는 코드 뭉치가 함수
- 함수를 모아서 담아 놓은 것이 모듈
- 모듈을 디렉토리 형식으로 정리해 둔 것이 패키지
- 보통 하나의 .py 파일이 하나의 모듈이 됨

In [ ]:
# 함수
def add(a, b) :
  return a + b

In [ ]:
# 모듈
def add(a, b) :
  return a + b

def sub(a, b) :
  return a - b

In [ ]:
# 패키지
# 모듈3, 모듈2, 모듈1

#### Python 필요 패키지 설치
- pip 명령어로 설치, 삭제 수행
  - piplist:설치되어있는패키지목록출력
  - pip show package-name : 해당 패키지에 대한 정보 출력
  - pip install package-name : 해당 패키지를 설치
  - pip install --upgrade package-name : 해당 패키지를 업그레이드(설치되어 있는 패키
지)
  - pip uninstall package-name : 해당 패키지를 제거
  - pip help : pip 명령어 관련된 도움말을 출력

- import
  - 모듈 내의 모든 내용을 불러 들일 때
    - import 모듈
    - import 모듈1, 모듈2, 모듈3 ...
    - import 모듈명 as 별명
  - 모듈에서 특정 함수를 불러올 때
    - from 모듈 import 함수
    - from 모듈 import 함수1, 함수2, 함수3 ...
    - from 모듈 import *
    - from 모듈 import 함수 as 별명

#### User 모듈 만들기 & 활용 (1/2)

#### User 모듈 만들기 & 활용 (2/2)

### Namespace, Scope

#### Name Spaces & Scopes
- Assignment staatement의 의미 : x = 11
  - x가 name space에 존재하지 않으면 x라는 name을 create하고 11 이라는 object를 refe
rence
  - 존재하면, x라는 name이 새로운 object 11을 reference
- Name space : 이름이 정의되는 공간. dir()로 현재 name space에 있는 name들, 즉 s
ymbol table을 볼 수 있다.
- A scope refer to a region of a program from where a namespace can be accessed wi
thout a assigned memory

In [ ]:
a = 'global a'
y = 'global y'

def test_namespace():
  a = 'enclosing a'

  def inner_namespace():
    a = 'local a'
    print(a)
    print(y)

  inner_namespace()

  print(a)

test_namespace()

print(a)

local a
global y
enclosing a
global a

In [ ]:
x = 11

def f():
  print(f, X) # access global X

def g():
  X = 22 # create local name 'X' in function g
  print(g, 'name space', dir())
  print(g, X)

def gl():
  global X # now name X is global scope
  X = 55 # assign to global X

print(__name__, 'name spaces:', dir())
f()
g()
gl(); print('after calling gl', X)

__main__ name spaces: ['In', 'MyMajor', 'Out', '_', '_102', '_107', '_109', '_111', '_113', '_114', '_115', '_116', '_117', '_120', '_121', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i100', '_i101', '_i102', '_i103', '_i104', '_i105', '_i106', '_i107', '_i108', '_i109', '_i11', '_i110', '_i111', '_i112', '_i113', '_i114', '_i115', '_i116', '_i117', '_i118', '_i119', '_i12', '_i120', '_i121', '_i122', '_i123', '_i124', '_i125', '_i126', '_i127', '_i128', '_i129', '_i13', '_i130', '_i131', '_i132', '_i133', '_i134', '_i135', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_i94', '_i95', '_i96', '_i97', '_i98', '_i99', '_ih', '_ii', '_iii', '_oh', '_sh', 'a', 'add', 'age', 'alien', 'alien_keys', 'alien_values', 'alphabet', 'alphabets', 'b', 'bicycles', 'c', 'cars', 'copy', 'count', 'counters', 'delimiter1', 'delimiter2', 'delimiter3', 'digits', 'empty_tuple', 'exit', 'f', 'favorite_language', 'fee', 'fruits', 'g', 'get_ipython', 'get_userinfo', 'gl', 'greet_user', 'i', 'items', 'key', 'menu', 'message', 'messages', 'motorcycles', 'my_func', 'myfamily', 'name1', 'nums', 'polynomial', 'popped_motorcycle', 'quit', 'reports', 's', 'score1', 'sub', 'test_namespace', 'thisdict', 'txt', 'user_description', 'x', 'y']

NameError: ignored

In [ ]:
def h1():
  X = 33
  def nested():
    print(nested, X) # access X(33) in h1
  nested()

def h2():
  X = 33
  def nested():
    nonlocal X #name X is not local but enclosing scope
    X = 44 #(nname X in h2)
  nested()
  print(h2, X)

h1()
h2(); print('after calling h2', X)

<function h1.<locals>.nested at 0x7f5a5c81ba70> 33
<function h2 at 0x7f5a5c843680> 44

NameError: ignored

### List Comprehension, Lambda, map, filter

#### List Comprehension(리스트 컴플리헨션)
- 파이썬은 다른 시퀀스나 이터러블에서 새 리스트를 만들어내는 간결한 구문을 제공
- 이런 식을 리스트 컴프리헨션이라 한다.

In [1]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = []

for x in a :
  squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squares = [x**2 for x in a]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- for ... in 문의 순회기능 
- 리스트, 딕셔너리, 셋에서 사용 가능 
- 리스트 : 
  - [표현식 for 항목 in 순회 가능한 객체]
- 딕셔너리 :
  - {키표현식: 값표현식 for 항목 in 순회가능한 객체}
- 셋 :
  - {표현식 for 항목 in 순회 가능한 객체}

In [3]:
squares = [x**2 for x in a]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Map, Filter, lambda vs List Comprehension

- map (적용시킬 함수, 적용할 요소들)

In [4]:
def add_1(n):
  return n + 1

target = [1, 2, 3, 4, 5]
result = []
for value in target :
  result.append(add_1(value))

print(result)

[2, 3, 4, 5, 6]

In [5]:
def add_1(n):
  return n+1

target = [1, 2, 3, 4, 5]
result = map(add_1, target)
print(result) #iterator 반환
print(list(result))

<map object at 0x7fb8d72d6450>
[2, 3, 4, 5, 6]

- filter(함수, 이터러블객체)

In [6]:
target = [-1, -2, 3, 4, 5]

result = []
for x in target :
  if x>0:
    result.append(x)
  else :
    pass
  
print(result)

[3, 4, 5]

In [8]:
target = [-1, -2, 3, 4, 5]

def func(x):
  if x>0:
    return x
  else :
    return None

result = filter(func, target)
print(result) #iterator 반환
print(list(result))

<filter object at 0x7fb8d72d6d10>
[3, 4, 5]

- lambda function 의 형식은 "lambda 인수1, 인수2, 인수2, ... : 인수를 이용한 표현식 " --> C의 함수포인터와 기능이 같다고 보시면 됩니다. 
- 이름이 없기 때문에 메모리에 적재되었을 때, 지워줄 수 있는 방법이 없습니다. 
  - 즉, heap 영역을 사용하며, 참조카운터가 0이 되면 가비지 컬렉터 기능에 의해서 메모리에서 삭제됩니다. 
- 사용방법은 다음과 같습니다. 

lambda object 를 받을 변수 = lambda param1, param2, ... : expression

- Lambda function
  - lambda object 를 받은 변수 = lambda param1, param2, ... : expression

In [10]:
# 일반 함수
def ftn_add(x, y):
  return x+ y

print(ftn_add(1,2))

3

In [11]:
# lambda 함수
# x + x for x in range(10)

add = lambda x, y : x+y
print (add(1,2))

3

In [12]:
# 일반적인 코드
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = []

for x in a :
  squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# List Comprehension

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [x**2 for x in a]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# Map & lambda
alt = map (lambda x : x**2, a)
print(list(alt))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
#List Comprehension

even_squares = [x**2 for x in a if x %2==0]
print(even_squares)

[4, 16, 36, 64, 100]

In [17]:
# Map & filter
alt = map(lambda x : x**2, filter(lambda x: x%2==0, a))
print(alt)
print(list(alt))

<map object at 0x7fb8d72fb390>
[4, 16, 36, 64, 100]

### Class

#### 객체지향 프로그래밍
- Object Oriented Programming : OOP
- 모든데이터를 객체라는 기본단위로 나누고
- 프로그래밍시 객체 간의 관계, 상호작용을 기술
- 객체지향은 문제를 여러개의 객체 단위로 나누어 처리
- 절차지향은 문제를 여러개의 함수로 나누어 순차적으로 호출하는 방식
- 함수가 아닌 객체와 객체간의 관계를 설계해야 함

#### 객체 
- 주위에 보이는 모든 것은 일단 객체(object)
- 사람도 객체
- A라는 사람은 B라는 사람은 성격도 체격도 성별도 다르지만
- 사람이라고 불리는 특징은?
- 이런 공통적이고 특징만 추출하는 것은 추상화라고 함

#### 추상화
- 학생을 추상화할시
- 학생이 가지고 있는 속성과 행동
- 이름, 반, 학년, 성적 - 속성
- 등하교한다, 시험을 본다, 출석을 한다 - 행동
- 속성과 행동을 모아놓은 것을 클래스라고 함
- 성적과 관련된 OOP프로그램시 이 중에서 성적과 관련된 것을 모아서 클래스를 만
들수 있음

#### 인스턴스 
- class: 클래스 선언 키워드
- 속성: 클래스의 내부 변수
- 메소드: 클래스의 함수

In [18]:
class Student:
  # 속성 
  name = 'Jessy'
  korean = 20
  english = 30,
  math = 40
  # 메소드
  def do_midterm_exam(self):
    print('do_midterm_exam')

- 인스턴스화: 클래스로부터 새로운 객체를 만드는 것
- 인스턴스: 클래스로부터 만들어진 객체
- 객체마다 다른이름, 성적을 가지게 하려면?

In [19]:
class Student:
  name = 'Jessy'
  korean = 20
  english = 30,
  math = 40
  
  def do_midterm_exam(self):
    print('do_midterm_exam')

jessy = Student()
jay = Student()

#### 초기화 

- 개별 인스턴스마다 각자 다른값을 갖게 하려면 초기화가 필요

In [20]:
jessy = Student('jessy', korean=90, english=30, math=40)
jay = Student('jay', korean=20, english=30, math=40)

TypeError: ignored

#### 초기화 
- 초기하 메서드 __init__() 사용

In [21]:
jessy = Student('jessy', korean=90, english=30, math=40)
jay = Student('jay', korean=20, english=30, math=40)

class Student:
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english = english
    self.math = math
  
  def do_midterm_exam(self):
    print('do_midterm_exam')

TypeError: ignored

In [22]:
# 초기화 메서드 __init__() 
# 인스턴스 생성시 자동 호출됨
class Student:
  def __init__(self):
    print('init')

  def method1(self):
    print('method1')
student1 = Student()

init

#### self 이해하기
- 초기화 메서드 __init__() 선언시 첫번째 파라미터
- 함수내 메소드 선언시 첫번째 파라미터
- 인스턴스 자신을 가르킴
- 메소드, __init__() 호출시 자동 바인딩됨

In [23]:
class Student:
  def __init__(self):
    print('init', id(self))
  
  def method1(self):
    print('method1', id(self))

student1 = Student()
student1.method1()
print('id', id(student1))

init 140431860586832
method1 140431860586832
id 140431860586832

#### 인스턴스 출력
- 인스턴스 출력메소드__str__() 
- 인스턴스 출력시 실행됨

In [24]:
class Student:
  def __init__(self, name):
    self.name = name
    print('init', id(self))
  
  def method1(self):
    print('method1', id(self))
    
  def __str__(self):
    return f'name: {self.name}'
    
student1 = Student('Jessy')
print(student1)

init 140431860584784
name: Jessy

#### 학생 성적 프로그램
- 학생들의 점수 총점, 평균과 전체 총점, 평균을 계산하는 프로그램
- 학생 Student클래스 생성하기
- 생성시 이름, 국어, 영어, 수학점수 받기
- 학생 3명 인스턴스 만들기

In [26]:
class Student:
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english = english
    self.math = math

jessy = Student('jessy', 90,60,90)
beth = Student('beth', 90,90,90)
jay = Student('jay', 90,60,60)

- 학생들의 점수 총점, 평균과 전체 총점, 평균을 계산하는 프로그램
- 학생 Student클래스 생성하기
- 생성시 이름, 국어, 영어, 수학점수 받기
- 학생 3명 인스턴스 만들기
- get_sum() 메서드 만들기 : 3과목 총점 반환
- get_avg() 메서드 만들기 : 3과목 평균 반환

In [27]:
class Student:
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english = english
    self.math = math
  
  def get_sum(self):
    return self.korean + self.english + self.math
  
  def get_avg(self):
    return self.get_sum() / 3.

- 학생들의 점수 총점, 평균과 전체 총점, 평균을 계산하는 프로그램 
- 학생 Student클래스 생성하기 
- 생성시 이름, 국어, 영어, 수학점수 받기 - get_sum() 메서드 만들기 
- get_avg() 메서드 만들기 
- 학생 3명 인스턴스 만들기 
- 각 이름,총점 출력 
- 각 이름,평균 출력

In [29]:
class Student:
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english = english
    self.math = math
    
  def get_sum(self):
    return self.korean + self.english + self.math
    
  def get_avg(self):
    return self.get_sum() / 3.

jessy = Student('jessy', 90,60,90)
beth = Student('beth', 90,90,90)
jay = Student('jay', 90,60,60)

for student in (jessy, beth, jay):
  print(student.name, student.get_sum())
  print(student.name, student.get_avg())

jessy 240
jessy 80.0
beth 270
beth 90.0
jay 210
jay 70.0

- 3학생의 전체 합산 점수, 전체 평균 구하기
- 앞의 Student클래스 이용

In [30]:
jessy = Student('jessy', 90,60,90)
beth = Student('beth', 90,90,90)
jay = Student('jay', 90,60,60)

- 3학생 합산 점수, 합산 평균 구하기

In [32]:
# 3명 학생의 전체 합산 점수, 전체 평균
students = (jessy, beth, jay)
scores = [student.get_sum() for student in students]
print('total', sum(scores))
print('average', sum(scores) / len(students))

total 720
average 240.0

# 상속 

- 기존 클래스에서 일부를 추가하거나 변경하여 새로운 클래스 생성
- 코드 재사용성을 높임
- 학교라는 공간 - 학생, 선생님 클래스 생성

In [33]:
class Student:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'

class Teacher:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'

- Student, Teacher 클래스 동일
- 같은 코드를 2번 반복하여 쓰게 됨
- 속성으로 학년을 추가하게 되면?
- 중복되는 것을 상위클래스로 만들고 상속받기
- 상속받는 방법 : 클래스 생성시 상속할 클래스 명시

In [36]:
class Member:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'
  
class Student(Member):
  pass
  
class Teacher(Member):
  pass

student1 = Student('Jay', 1)
teacher1 = Teacher('Merry', 1)

print(student1)
print(teacher1)

이름은 Jay, 반은1
이름은 Merry, 반은1

- issubclass() : 클래스가 특정 클래스에서 파생되었는지

In [37]:
#다른 클래스를 상속했는지 확인
print(issubclass(Student, Member)) #True
print(issubclass(Teacher, Member)) #True

True
True

- isinstance(): 인스턴스가 특정 클래스의 인스턴스 인지 확인

In [38]:
#특정 클래스의 인스턴스인지 확인
print(isinstance(student1, Student)) #True
print(isinstance(student1, Teacher)) #False
print(isinstance(student1, Member)) #True

True
False
True

Member : super, parent 클래스
Student, Teacher : sub, child 클래스

#### 상속 : 오버라이드

- 상속받은 메서드를 수정

In [39]:
class Member:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'
  
class Student(Member):
  def get_role(self):
    return 'Student'
  
class Teacher(Member):
  def get_role(self):
    return 'Teacher'

student1 = Student('Jay', 1)
teacher1 = Teacher('Merry', 1)

#### 상속 : 메서드 추가

- 상속받은 클래스는 메서드 추가 기능

In [41]:
class Member:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'
  
class Student(Member):
  def get_role(self):
    return 'Student'

  def study(self):
    print('공부합니다')
  
class Teacher(Member):
  def get_role(self):
    return 'Teacher'

student1 = Student('Jay', 1)
teacher1 = Teacher('Merry', 1)

print(student1.study())
print(teacher1.study())

공부합니다
None

AttributeError: ignored

#### 상속 : 속성 추가
- 상속받은 클래스는 메서드 추가 가능
- __init__() 메서드에서 super().__init__() 호출 필요

In [43]:
class Member:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num
    
  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은 {self.name}, 반은{self.class_num}'
  
class Student(Member):
  def __init__(self, name, class_num, score):
    super().__init__(name, class_num)
    self.score = score

  def get_role(self):
    return 'Student'

  def study(self):
    print('공부합니다')
  
class Teacher(Member):
  def get_role(self):
    return 'Teacher'

student1 = Student('Jay', 1, 90)
teacher1 = Teacher('Merry', 1)

print(student1.score)
print(teacher1.score)

90

AttributeError: ignored

#### 다형성 
- 다형성을 느슨하게 구현
- 클래스에 상관없이 같은 동작을 다른 객체에 적용 가능
- obj 파라미터에 대응될 인수로 들어갈 수 있는 객체는?

In [44]:
def who_says(obj):
  obj.say()

In [46]:
class Animal:
  def eat(self):
    print('eat')
    
  def say(self):
    print('animal')
    
class Cat(Animal):
  def say(self):
    print('cat')

class Dog(Animal):
  def say(self):
    print('dog')
  
  def who_says(obj):
    obj.say()

animal = Animal()
cat = Cat()
dog = Dog()

who_says(animal)
who_says(cat)
who_says(dog)

animal
cat
dog

#### 컴포지션 
- 상속 : 자식 is a 부모 
- 컴포지션: X has Y 
- 학교는 ‘’을 소유한다 
- 선생님과 학생은 학교에 소속된다

In [47]:
class Member:
  def __init__(self, name, class_num):
    self.name = name
    self.class_num = class_num

  def get_role(self):
    return 'member'
    
  def __str__(self):
    return f'이름은{self.name}, 반은{self.class_num}'

class Student(Member):
  def study(self):
    print(f'{self.name} 공부중')
    
class Teacher(Member):
  def lecture(self):
    print(f'{self.name} 강의중')

In [48]:
class School:
  def __init__(self):
    self.teachers = []
    self.students = []
  
  def register_teacher(self, teacher):
    self.teachers.append(teacher)
  
  def register_student(self, student):
    self.students.append(student)

student1 = Student('jay1', 1)
student2 = Student('kim1', 1)

teacher1 = Teacher('T1', 1)
teacher2 = Teacher('T2', 2)

school = School()
school.register_student(student1)
school.register_student(student2)

school.register_teacher(teacher1)
school.register_teacher(teacher2)

print(school.students)
print(school.teachers)

[<__main__.Student object at 0x7fb8d7235490>, <__main__.Student object at 0x7fb8d7441f10>]
[<__main__.Teacher object at 0x7fb8d7406790>, <__main__.Teacher object at 0x7fb8d7402190>]