<a href="https://colab.research.google.com/github/plumwiserim/Data-Analysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 분석을 위한 Pandas 라이브러리 활용

## 데이터 시각화를 위한 파이썬 라이브러리

In [1]:
import seaborn as sns

anscombe_df = sns.load_dataset("anscombe")
print(anscombe_df)

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [2]:
print(type(anscombe_df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
categorical = anscombe_df.dataset.unique()
categorical

array(['I', 'II', 'III', 'IV'], dtype=object)

In [4]:
dataset_1 = anscombe_df[anscombe_df['dataset'] == categorical[0]]
dataset_2 = anscombe_df[anscombe_df['dataset'] == categorical[1]]
dataset_3 = anscombe_df[anscombe_df['dataset'] == categorical[2]]
dataset_4 = anscombe_df[anscombe_df['dataset'] == categorical[3]]

# 임의의 데이터셋 출력해보기
print(dataset_3)

   dataset     x      y
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73

In [5]:
dataset_1.describe()
dataset_2.describe()
dataset_3.describe()
dataset_4.describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.030579
min     8.000000   5.250000
25%     8.000000   6.170000
50%     8.000000   7.040000
75%     8.000000   8.190000
max    19.000000  12.500000